/* CSS Document */
/* Built by Jack at Tristar */
/* Modified for improved browser compatibility by <a href="http://www.os-templates.com/">OS Templates</a> */

/* Reset */
*{margin:0; padding:0;}
img, img a{outline:none; border:none;}
body{background-color:#fff; color:#575757; font:81.3% "Georgia",times,serif; margin:0; padding:0;}
a, a:visited{outline:none; color:#4086c6; text-decoration:none;}
a:hover{text-decoration:underline;}

/* Modern Clear Floating Fix */

.clear:before, .clear:after{content:""; display:table;}
.clear:after{clear:both;}
.clear{zoom:1; /* For IE 6/7 (trigger hasLayout) */}

/* HTML5 Fix */

header, section, footer, aside, nav, article{display:block;}

/* Base Structure */

.bodywidth{width:80%; margin:0 auto; clear:both;}

/* General Type */

h1, h2, h3, h4, h5, h6{color:#2f2f2f; font-family:"Ubuntu",arial;}
.bold{font-weight:bold;}
.blue{color:#4086c6;}
.black{color:#000000;}
.alert{color:#fd0404;}
hr {
    border: 10px;
    clear:both;
    display:block;
    width: 100%;
    background-color:#575757;
    height: 1px;
  }

/* Header */

#headerwrap{width:100%; background:url("../images/headerbg.jpg") repeat-x 0 0; height:117px;}
#mainheader{padding:35px 0 0 0; color:#2f2f2f; text-shadow:0 0 1px #fff;}
.logo{float:left; margin:0 10px 0 0; -webkit-transition:-webkit-transform 0.4s ease-out; -moz-transition:-moz-transform 0.4s ease-out; transition:transform 0.4s ease-out;}
.logo:hover{cursor:pointer; -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); transform:rotate(360deg);}
#websitetitle{float:left; margin:-8px 0 0 0;}
#websitetitle h1{font-size:2.538em; font-weight:normal;}
#websitetitle h2{font:1.462em "Georgia"; font-style:italic; font-weight:normal; margin:-3px 0 0 0;}
#mainheader nav{float:right; font:1.615em "Ubuntu",arial,; margin:8px 0 0 0;}
#mainheader nav li{list-style-type:none; display:inline; margin:0 0 0 65px;}
#mainheader nav li .highlighted{color: #4086c6;}
#mainheader a, #mainheader:visited{color:#2f2f2f;}
#mainheader a:hover{text-decoration:none; color:#7e7e7e;}

/* Intro */

#introduction{margin-top:25px;}
#introduction h2{font-size:3.231em; font-weight:bold; margin:0 0 5px 0;}
#introduction p{font-size:1.154em; line-height:140%;}
#introleft{float:left; width:540px; margin:0 0 25px 0;}
#introquote{float:right; font-style:italic; font-size:1.15em; width:335px; background:url("../images/leftquotemark.png") no-repeat 0 0; padding:28px 0 0 45px; margin:20px 0 25px 0;}
#introduction .quotename{float:right; height:27px; background:url("../images/rightquotemark.png") no-repeat right top; margin:10px 0 0 0; padding:0 50px 0 0; font:0.9em "Ubuntu"; color:#4086c6;}
a.findoutmore, a.findoutmore:visited{padding:10px; font:0.9em "Ubuntu",arial; font-weight:bold; color:#fff; text-shadow:0 0 1px #1e5298; background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.12,rgb(109,171,229)),color-stop(0.56,rgb(59,126,189))); background-image:-moz-linear-gradient(center bottom,rgb(109,171,229) 12%,rgb(59,126,189) 56%); background-color:#468ac9; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; margin:13px 0 0 0; float:left;}
a.findoutmore:hover{background-color:#2f2f2f; background-image:none; text-shadow:0 0 1px #000; text-decoration:none;}

/* Main Content */

#maincontent{border-top:1px #dbdbdb solid; padding:25px 0 0 0; overflow:hidden;display: block;}
#maincontent .pagetitle {padding: 20px; text-align: center; font-size:1.8em; font-weight:bold; color:#4086c6;}
#tools {display: block; overflow: hidden}
#tools a{margin: 20px 20px 0 0; float: right;font-size:1.5em; font-weight:bold; }
#tools input.searchbar{margin: auto;font-size:1.5em; font-weight:bold; width: 99%;}

#index{margin-top: 20px;}
#index ul{margin-left: 20px; list-style-type:square;}
#index ul li div.info{display:inline;}
#index ul li div.info a.edit{float:right;}
#index ul li div.info a.delete{float:right;}
#index ul li{clear:both; margin:0 0 20px 0; overflow:hidden;}
#index ul img{padding:5px; border:1px #dbdbdb solid; float:left; width:119px; height:119px; margin:0 15px 0 0;}
#index ul li h3{font-size:1.5em; font-weight:bold; margin:0 0 15px 0;}
#index ul li a h3{font-size:1.5em; font-weight:bold; margin:0 15px 15px 0;}
#index ul li h4{font-size:1.3em; font-weight:bold; margin:0 0 15px 0;}
#index ul li p{line-height:135%; margin:0 0 15px 0;}
#index ul li #blue{color:#4086c6;}

#show {clear:both; margin:0 0 20px 0; overflow:hidden;}
#show .info {margin-bottom: 20px;}
#show .info ul{margin-left: 20px;}
#show div.info1{display:block;}
#show div.info2{float: left;}
#show img{padding:5px; border:1px #dbdbdb solid; width:119px; height:119px; margin:0 15px 0 0;float:left}
#show div.info1 h3{font-size:1.5em; font-weight:bold; margin:0 0 15px 0;}

#show div.info2 div.malfunctions div.tools_malfunctions h4{display:inline; }
#show div.info2 div.malfunctions div.tools_malfunctions a{float: right; margin-bottom: 15px;}
#show div.info2 div.malfunctions ul li{clear:both; list-style-type:square; margin-left: 20px;}
#show div.info2 div.malfunctions ul li div.info_malfunction .description_malfunction{display:inline;}
#show div.info2 div.malfunctions ul li div.info_malfunction .inline_wrapper{overflow: hidden;}
#show div.info2 div.malfunctions ul li div.info_malfunction div.tools_malfunction {float: right;}
#show div.info2 div.malfunctions ul li div.info_malfunction div.solutions .tools_solutions h4{display:inline;}
#show div.info2 div.malfunctions ul li div.info_malfunction div.solutions .tools_solutions a{float: right; margin-bottom: 15px;}
#show div.info2 div.malfunctions ul li div.info_malfunction .solutions ul li{clear:both; list-style-type:circle; margin-left: 40px;}
#show div.info2 div.malfunctions ul li div.info_malfunction .solutions ul li div.info_solution .tools_solution {float: right;}
#show div.info2 div.malfunctions ul li div.info_malfunction .solutions ul li div.info_solution .description_solution{display:inline;}

#show a h3{font-size:1.5em; font-weight:bold; margin:0 0 15px 0;}
#show h4{font-size:1.3em; font-weight:bold; margin:0 0 15px 0;}
#show p{line-height:135%; margin:0 0 15px 0;}
#show #blue{color:#4086c6;}
a.readmore, a.readmore:visited{padding:4px; font:0.9em "Ubuntu",arial; font-weight:bold; color:#fff; text-shadow:0 0 1px #1e5298; background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.12,rgb(109,171,229)),color-stop(0.56,rgb(59,126,189))); background-image:-moz-linear-gradient(center bottom,rgb(109,171,229) 12%,rgb(59,126,189) 56%); background-color:#468ac9; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; margin:10px 0 0 0; float:left;}
a.readmore:hover{background-color:#2f2f2f; background-image:none; text-shadow:0 0 1px #000; text-decoration:none;}

/* Faqs*/

#index_faqs{margin-top: 20px;}
#index_faqs ul{margin-left: 20px; list-style-type:square;}
/* #index_faqs ul li a.category_name{display:inline;} */
#index_faqs ul li div.tools{float:right; display:inline;}
#index_faqs ul li div.info{clear: both; display:block;}
#index_faqs ul li .inline_wrapper{overflow: hidden;}
#index_faqs ul li {clear:both; margin:0 0 20px 0; }
#index_faqs ul li h3{font-size:1.5em; font-weight:bold; margin:0 0 15px 0;}
#index_faqs ul li a h3{font-size:1.5em; font-weight:bold; margin:0 0 15px 0;}
#index_faqs ul li h4{font-size:1.3em; font-weight:bold; margin:0 0 15px 0;}
#index_faqs ul li p{line-height:135%; margin:0 0 15px 0;}
#index_faqs ul li #blue{color:#4086c6;}
/* Footer */

#footerwrap{width:100%; margin:20px 0 0 0; padding:30px 0; background:#2d2d2d url("../images/footerbg.jpg");}
#mainfooter{text-shadow:0 0 1px #000;}
#mainfooter nav{float:left; font-style:italic; font-size:1.1em;}
#mainfooter nav ul{margin:0; padding:0; list-style:none;}
#mainfooter li{list-style-type:none; float:left; margin:0 35px 0 0;}
#mainfooter li:last-child{margin-right:0;}
#mainfooter a, #mainfooter a:visited{color:#fff;}
.copyright{float:right; color:#b8b8b8;}

/* input form */

.wrap-input {
    width: 100%;
    position: relative;
    background-color: transparent;
    margin-bottom: 12px;
  }

  .rs1-wrap-input {
    width: 100%;
  }

  .label-input {font-size:1.3em; font-weight:bold; margin:0 0 15px 0;}

  .input {
    display: block;
    width: 90%;
    background: #f2f2f2;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #686868;
    line-height: 1.2;
    padding: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 5px;
  }

  .container-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .wrap-contact {
    background: transparent;
    border-radius: 2px;
    padding: 30px 120px;
    position: relative;
  }

  .wrap-contact1 {
    max-width: 300px;
    background: #dbecf6;
    border-radius: 2px;
    padding: 30px 30px;
    position: relative;
  }

  .contact-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  .form-btn1 {
    justify-content: center;
    padding: 0 20px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555555;
  }

/* MEDIA QUERIES */

/* Under 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
.bodywidth{width:800px;}
#mainheader nav{font-size:1.4em;}
#mainheader nav li{margin:0 0 0 50px;}
#introleft{width:470px;}
#introquote{width:270px;}
#introduction h2{font-size:2.85em;}
#articlesright{width:324px;}
#articlesright article{font-size:0.95em;}
#mainfooter{font-size:0.9em;}
#mainfooter li{margin:0 25px 0 0;}
#mainfooter li:last-child{margin-right:0;}
}

/* Under 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
.bodywidth{width:600px;}
#mainheader{padding:40px 0 0 0;}
#mainheader nav{font-size:1.1em; margin:12px 0 0 0;}
#mainheader nav li{margin:0 0 0 25px;}
.logo{width:40px; height:40px;}
#websitetitle h1{font-size:2.3em;}
#websitetitle h2{font-size:1.2em;}
#introleft{width:600px;}
#introquote{display:none;}
#articlesright{width:170px;}
#articlesright figure{display:none;}
#mainfooter{font-size:0.9em;}
#mainfooter nav, .copyright{display:block; float:none; width:100%; margin-bottom:15px;}
#mainfooter li{margin:0 15px 0 0;}
#mainfooter li:last-child{margin-right:0;}
.copyright{color:#b8b8b8; margin-bottom:0;}
}

/* Under 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
.bodywidth{width:480px;}
#mainheader{padding:25px 0 0 0;}
#mainheader nav{float:left; font-size:1.1em; margin:18px 0 0 0;}
#mainheader nav li{margin:0 30px 0 0;}
.logo{width:40px; height:40px;}
#websitetitle h1{font-size:2.3em;}
#websitetitle h2{font-size:1.2em;}
#introleft{width:480px;}
#introduction h2{font-size:2.7em;}
#introquote{display:none;}
#index{font-size:0.9em;}
#show{font-size:0.9em;}
#articlesright{width:150px;}
#articlesright article{font-size:0.9em;}
#articlesright figure{display:none;}
#mainfooter{font-size:0.9em;}
#mainfooter nav, .copyright{display:block; float:none; width:100%; margin-bottom:15px;}
#mainfooter li{margin:0 15px 0 0;}
#mainfooter li:last-child{margin-right:0;}
.copyright{color:#b8b8b8; margin-bottom:0;}
}

/* Under 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
.bodywidth{width:320px;}
#mainheader{padding:25px 0 0 0;}
#mainheader nav{float:left; font-size:1.1em; margin:18px 0 0 0;}
#mainheader nav li{margin:0 30px 0 0;}
.logo{width:40px; height:40px;}
#websitetitle h1{font-size:2.3em;}
#websitetitle h2{font-size:1.2em;}
#introleft{width:320px; font-size:0.8em;}
#introduction h2{font-size:2.3em;}
#introquote{display:none;}
#index{font-size:0.9em;}
#show{font-size:0.9em;}
#articlesright{width:320px; float:left; border-top:1px #dbdbdb solid; padding:20px 0 0 0; margin:10px 0 0 0;}
#articlesright article{font-size:0.9em;}
#articlesright figure{display:none;}
#mainfooter{font-size:0.8em;}
#mainfooter nav, .copyright{display:block; float:none; width:100%; margin-bottom:15px;}
#mainfooter li{margin:0 6px 0 0;}
#mainfooter li:last-child{margin-right:0;}
.copyright{color:#b8b8b8; margin-bottom:0;}
}

/* Under 320px */
@media only screen and (max-width: 340px) and (min-width: 5px)  {
.bodywidth{width:300px;}
#mainheader{padding:27px 0 0 0;}
#mainheader nav{float:left; font-size:0.9em; margin:15px 0 0 0;}
#mainheader nav li{margin:0 30px 0 0;}
.logo{width:40px; height:40px;}
#websitetitle h1{font-size:2.3em;}
#websitetitle h2{font-size:1.2em;}
#introleft{width:300px; font-size:0.8em;}
#introduction h2{font-size:2.3em;}
#introquote{display:none;}
#index{font-size:0.9em;}
#show{font-size:0.9em;}
#articlesright{width:300px; float:left; border-top:1px #dbdbdb solid; padding:20px 0 0 0; margin:10px 0 0 0;}
#articlesright article{font-size:0.9em;}
#articlesright figure{display:none;}
#mainfooter{font-size:0.7em;}
#mainfooter nav, .copyright{display:block; float:none; width:100%; margin-bottom:15px;}
#mainfooter li{margin:0 6px 0 0;}
#mainfooter li:last-child{margin-right:0;}
.copyright{color:#b8b8b8; margin-bottom:0;}
}
